<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oh My! World</title>
    <%- include('./partials/blogstyle.ejs'); %>
        <%- include ('./partials/ads.ejs'); %>
</head>

<body>
    <header>
        <div class="title" onclick="window.open('/', '_self')">
            OH MY WORLD
        </div>
        <div class="others">
            <span>Sitemap</span>
            <span>Privacies</span>
            <span>Contacts</span>
        </div>
    </header>
    <div class="main">
        <section class="left">
            <div class="posts">
                <div class="post">
                    <div class="phead">
                      <%= post.title %> 
                    </div>
                    <div class="img">
                        <img src="<%= post.picha %> " alt="<%= post.title %> picture">
                    </div>
                    <div class="pbody">
                      <%- post.body %> 
                    </div>
                </div>
            </div>
        </section>
        <section class="right">
            <div class="infos">
                <h1>Site's Info</h1>
                <ul>
                    <li>Admin: shemdoe
                    </li>
                    <li>Website: Oh My World
                    </li>
                    <li>Number of posts: <%= files.toLocaleString() %>
                    </li>
                    <li>Active users: <%= count.toLocaleString() %>
                    </li>
                    <li>Page Views: <%= doc[0].times.toLocaleString() %>
                    </li>
                </ul>
            </div>
        </section>
    </div>

    <div style="width: 95%; margin: 4px auto;">
        <iframe data-aa='1776866' src='//acceptable.a-ads.com/1776866'
            style='border:0px; padding:0; width:100%; height:100%; overflow:hidden; background-color: transparent;'></iframe>
    </div>
    <div class="matangazo">
        <div class="ad2 ads adsterra250">
            <script type="text/javascript">
                atOptions = {
                    'key': 'a3248d4c803a8513bc51223eb4eb9a9e',
                    'format': 'iframe',
                    'height': 250,
                    'width': 300,
                    'params': {}
                };
                document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://lectureolympics.com/a3248d4c803a8513bc51223eb4eb9a9e/invoke.js"></scr' + 'ipt>');
            </script> <br>
            <hr> <br>
            <div class="adsterraNative">
                <script async="async" data-cfasync="false"
                    src="//lectureolympics.com/915b6f173a7c21d4b7733588f4fa966c/invoke.js"></script>
                <div id="container-915b6f173a7c21d4b7733588f4fa966c"></div>
            </div>
        </div>
    </div>

    <footer>
        <h2>Benefits of Watching Porns</h2>

        <ul>
            <li>
                <b>Because it’s healthy</b>
                <br>
                Despite the many, many, many studies claiming that porn is bad for your brain and your relationships,
                there
                are just as many studies saying that porn does not cause irrevocable harm to the brain or your sex
                life—in
                fact, it might even be kinda good for you. In a paper from 2008, two Danish researchers Gert Hald and
                Neil
                Malamuth concluded from a survey of 688 Danish adults that porn did not yield any negative mental or
                health
                effects. In fact, the researchers found a positive correlation between the subjects’ porn viewing and
                increased sexual satisfaction, as well as self-reported benefits in other areas of their lives.
            </li>

            <li>
                <b>Sometimes it’s better than the real thing</b>
                <br>
                Some nights you want to get dolled up, put on a freakum dress, and pretend to be someone who does not
                eat
                food out of the garbage long enough to trick a guy into having sex with you, but you don’t always want
                to
                put in the kind of effort that involves changing out of your pajama pants. In lieu of being able to have
                sex
                with your Netflix subscription (in which case no one would ever leave the house), free Internet porn is
                the
                next best thing.
            </li>

            <li>
                <b>Because it relieves stress</b>
                <br>
                Life can be stressful, and from my experience, owning a stress ball does not make the complicated twists
                and
                turns any easier to deal with. Sure, practicing a few down-dogs and cobras may have helped me find my
                center, but just like sex, porn decreases stress as well.
            </li>

            <li>
                <b>Because it’s hilarious</b>
                <br>
                I don’t watch porn often with my boyfriend, mostly because we have wildly divergent tastes. He likes
                ten-minute sloppy blowjob clips. I’m a fan of narrative-driven vintage content, particularly if the term
                “X-rated musical fantasy” is somewhere in the title. But when we do, we tend to focus less on the action
                onscreen and more on what’s going on in the background.
            </li>
        </ul>

    </footer>
</body>

</html>