<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8EZTTS9G9W"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-8EZTTS9G9W');
    </script>
    <!-- Analytics ends here -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Download Brazzers Premiun Shows On Telegram at @ohmychannelbot">
    <meta name="robots" content="all">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" />
    <title>
        <%= result.caption %>
    </title>
    <%- include ('./partials/style-telegram'); %>
        <%- include ('./partials/ads.ejs'); %>
</head>

<body>
    <header>
        <span style="color: aliceblue;">Oh My 💋 Channel</span> <br>
        <%= result.caption %> <br>
    </header>

    <div class="ads aads">
        <iframe data-aa="1776866" src="//ad.a-ads.com/1776866?size=300x250"
            style="width:300px; height:250px; border:0px; padding:0; overflow:hidden; background-color: transparent;"></iframe>
    </div>

    <div class="container">
        <div class="title">
            Download & Watch The Full Video On Telegram <i class="fa fa-telegram" aria-hidden="true"></i>
        </div>
        <div class="imgCont">
            <div class="imgWrapper">
                <div class="imgSquare">
                    <div class="brazzers">
                        BRA<span>ZZ</span>ERS
                    </div>
                </div>
                <div class="channel-name">
                    <h4>
                        <%= result.caption %>
                    </h4>
                </div>
            </div>
        </div>
        <div class="button">
            <button id="shadow">DOWNLOAD - <span id="count"></span>s</button>
            <button onclick="window.open('/telegram/<%= result.nano %>')" id="real">DOWNLOAD NOW</button>
            <br> <br>
            <sub id="inst"><i>⚠ click above to continue</i></sub>
        </div>
    </div>
    <br>
    <div class="ads adsterra250">
        <script type="text/javascript">
            atOptions = {
                'key': 'a3248d4c803a8513bc51223eb4eb9a9e',
                'format': 'iframe',
                'height': 250,
                'width': 300,
                'params': {}
            };
            document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://lectureolympics.com/a3248d4c803a8513bc51223eb4eb9a9e/invoke.js"></scr' + 'ipt>');
        </script> <br>
        <hr> <br>
        <div class="adsterraNative">
            <script async="async" data-cfasync="false"
                src="//lectureolympics.com/915b6f173a7c21d4b7733588f4fa966c/invoke.js"></script>
            <div id="container-915b6f173a7c21d4b7733588f4fa966c"></div>
        </div>
    </div>
    <br><br><br><br>

    <footer>
        Shared With ❤ Oh My Telegram Channel Admin <br>
        <a onclick="window.open('tg://join?invite=AAAAAFegjdpxSSmtSXsykg')" style="cursor: pointer;">Join Us Telegram<i
                class="fa fa-telegram" aria-hidden="true"></i></a><br>
        <a href="/">🏠 HOME</a> <br>
        <span id="yaLeo2">ggg</span>
    </footer>


    <!-- javascript -->
    <%- include('./partials/tarehe'); %>
        <%- include('./partials/wait'); %>

            <!-- social bar adsterra -->
            <script type='text/javascript'
                src='//lectureolympics.com/b0/d9/c0/b0d9c09cd174cf19e44ebef0a0d22254.js'></script>
</body>

</html>