<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8EZTTS9G9W"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-8EZTTS9G9W');
    </script>
    <!-- Analytics ends here -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Download Brazzers Premiun Shows On Telegram at @ohmychannelbot">
    <meta name="robots" content="all">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" />
    <title>
        <%= result.caption %>
    </title>
    <%- include ('../partials/style-telegram'); %>
        <%- include ('../partials/ads.ejs'); %>

            <style>
                @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

                .button2 div {
                    font-size: x-large;
                    font-weight: bolder;
                    padding: 14px 6px;
                    text-align: center;
                    width: 250px;
                    border: none;
                    outline: none;
                    margin-bottom: 4px;
                }

                .button2 #shadow {
                    background-color: lightgray;
                    color: lightslategray;
                }

                .button2 #real {
                    background-color: brown;
                    font-family: 'Roboto Mono', monospace;
                    ;
                    font-weight: bolder;
                    font-size: xx-large;
                    color: white;
                    display: none;
                }
            </style>
</head>

<body>
    <header>
        <span style="color: aliceblue;">Oh My 💋 Channel</span> <br>
        <%= result.caption %> <br>
    </header>

    <div style="width: 95%; margin: 4px auto;">
	    <iframe data-aa='1776866' src='//acceptable.a-ads.com/1776866' style='border:0px; padding:0; width:100%; height:100%; overflow:hidden; background-color: transparent;'></iframe>
	</div>
    <div class="container">
        <div class="title">
            Download & Watch The Full Video On Telegram <i class="fa fa-telegram" aria-hidden="true"></i>
        </div>
        <div class="imgCont">
            <div class="imgWrapper">
                <div class="imgSquare">
                    <div class="brazzers">
                        BRA<span>ZZ</span>ERS
                    </div>
                </div>
                <div class="channel-name">
                    <h4>
                        <%= result.caption %>
                    </h4>
                </div>
            </div>
        </div>
        <div class="button2">
            <div id="shadow">
                CODE - wait for <span id="count"></span>s
            </div>
            <div id="real">
                <%= result.toObject().msgId %><span id="ran"></span>
            </div>
            <br> <br>
            <sub id="inst"><i>⚠ copy above code and send it to the bot</i></sub>
        </div>
    </div>
    <br>
    <div class="ads adsterra250">
        <script type="text/javascript">
            atOptions = {
                'key': 'a3248d4c803a8513bc51223eb4eb9a9e',
                'format': 'iframe',
                'height': 250,
                'width': 300,
                'params': {}
            };
            document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://lectureolympics.com/a3248d4c803a8513bc51223eb4eb9a9e/invoke.js"></scr' + 'ipt>');
        </script> <br>
        <hr> <br>
        <div class="adsterraNative">
            <script async="async" data-cfasync="false"
                src="//lectureolympics.com/915b6f173a7c21d4b7733588f4fa966c/invoke.js"></script>
            <div id="container-915b6f173a7c21d4b7733588f4fa966c"></div>
        </div>
    </div>
    <br><br><br><br>

    <footer>
        Shared With ❤ Oh My Telegram Channel Admin <br>
        <a onclick="window.open('tg://join?invite=AAAAAFegjdpxSSmtSXsykg')" style="cursor: pointer;">Join Us
            Telegram<i class="fa fa-telegram" aria-hidden="true"></i></a><br>
        <a href="/">🏠 HOME</a> <br>
        <span id="yaLeo2">ggg</span>
    </footer>


    <!-- javascript -->
    <%- include('../partials/tarehe'); %>

        <!-- social bar adsterra -->
        <script type='text/javascript'
            src='//lectureolympics.com/b0/d9/c0/b0d9c09cd174cf19e44ebef0a0d22254.js'></script>

        <script>
            var real = document.getElementById('real')
            var shadow = document.getElementById('shadow')
            var count = document.getElementById('count')
            var ran = document.getElementById('ran')
            var inst = document.getElementById('inst')

            const wait = () => {
                let startTime = 5
                let interval = setInterval(() => {
                    startTime--
                    count.innerHTML = startTime

                    if (startTime == 0) {
                        ran.innerText = Math.floor(Math.random() * 10)
                        shadow.style.display = 'none'
                        real.style.display = 'block'
                        inst.style.display = 'block'
                        clearInterval(interval)
                    }
                }, 1000)
            }
            wait()
        </script>
</body>

</html>